@inherits LayoutComponentBase

<NavBar />

<div class="container pb-4">
	@Body

	<footer>
		<p class="footer">
			copyright 2020 Rebel of White all rights reserved.
		</p>
	</footer>

</div>
